.width--full {
  width: 100%;
}

.height--full {
  height: 100%;
}

.typo--bold {
  font-weight: bold;
}

.typo--large {
  font-size: larger;
}

.button--bg-color {
  background-color: #8a3ab9;
  color: white;
}

.padding--8 {
  padding: 8px;
}
